* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgba(70, 70, 70, 0.9);
    height: 90px;
}

.navbar_conteiner .navbar_lista {
    display: flex;
    width: 50%;
    align-items: center;
}

.logo_navbar img {
    width: 140px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin: 15px;
}

.navbar_login {
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    background-color: #e10000;
    margin-right: 10px;
    height: 70px;
    width: 140px;
}

.navbar_login button {
    border: none;
    cursor: pointer;
    padding: 25px 45px 25px 25px;
    background-color: #e10000;
    border-radius: 50px;
    color: white;
    height: 50px;
    width: 100px;
}

.navbar_lista {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
}

.navbar_lista ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.background_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.backgroundP {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url(../LINKS/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e10000;
}

.backgroundP .navbar_conteiner {
    width: 100%;
}


.login_conteiner {
    position: absolute;
    width: 470px;
    height: 450px;
    background: rgba(255, 0, 0, 0.8);
    border-radius: 20px;
    margin-top: 40px;
}

.login_titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 25px;
}

.login_subtitulo {
    color: white;
    position: absolute;
    width: 297px;
    height: 99px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;

}

.login_input {
    border-radius: 8px;
    padding: 3px;
    font-size: 18px;
    margin-top: 12vh;
    text-align: start;
    margin-left: 4vh;
    width: 415px;
    height: 35px;
    border: none;
    background-color: #d9d9d9;
}

.login_senha {
    color: rgb(255, 255, 255);
    font-size: 3.8vh;
    margin-left: 4.8vh;
    margin-top: 3.8vh;
}

.senha_input {
    border-radius: 8px;
    padding: 3px;
    font-size: 18px;
    margin-top: 1.8vh;
    text-align: start;
    margin-left: 4vh;
    width: 415px;
    height: 35px;
    border: none;
    background-color: #d9d9d9;
}

.login_conteiner button {
    padding: 5px 93px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 18vh;
    margin-top: 9vh;
    border: none;
    background-color: #d9d9d9;
    height: 40px;
}

.login_conteiner button:hover {
    background-color: #5e1212;
}

.login_link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 23px;
    color: black;
    text-decoration: none;
}