@font-face {
    font-family: pedro;
    src: local(pedro), url('../ASSETS/FONTES/adrip1.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgba(70, 70, 70, 0.9);
    height: 90px;
}

.navbar_conteiner .navbar_lista {
    display: flex;
    width: 50%;
    align-items: center;
}

.logo_navbar img {
    width: 140px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin: 15px;
}

.navbar_login {
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    background-color: #e10000;
    margin-right: 10px;
    height: 70px;
    width: 140px;
}

.navbar_login button {
    border: none;
    cursor: pointer;
    padding: 19px 10px 0px 0px;
    background-color: #e10000;
    border-radius: 50px;
    color: white;
    height: 50px;
    width: 100px;
}

.navbar_lista {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
}

.navbar_lista ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.navbar_lista a {
    color: white;
}

.backgroundP {
    background-color: #c51010;
    width: 100%;
    height: auto;
}

.titulo{
    font-family: pedro;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    font-size: 40px;
}

.img1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
.opc1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 15px;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.botao button{
    width: 170px;
    height: 65px;
    border-radius: 15px;
    border: none;
}

.botao button:hover {
    background-color: #5e1212;
}
